**/.DS_Store
**/.vscode

obj/
bin/

**/.pio

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Module13_ESP32_WiFiManager/M13_CoeurReacteurCSharp/.vs/ProjectEvaluation/m13_coeurreacteurcsharp.projects.v6.1
Module13_ESP32_WiFiManager/M13_CoeurReacteurCSharp/.vs/ProjectEvaluation/m13_coeurreacteurcsharp.metadata.v6.1
Module13_ESP32_WiFiManager/M13_CoeurReacteurCSharp/.vs/M13_CoeurReacteurCSharp/DesignTimeBuild/.dtbcache.v2
Module13_ESP32_WiFiManager/M13_CoeurReacteurCSharp/.vs/M13_CoeurReacteurCSharp/FileContentIndex/86a14d6f-5124-4c50-a75a-6bfd23d2a912.vsidx
Module13_ESP32_WiFiManager/M13_CoeurReacteurCSharp/.vs/M13_CoeurReacteurCSharp/FileContentIndex/read.lock
Module13_ESP32_WiFiManager/M13_CoeurReacteurCSharp/.vs/M13_CoeurReacteurCSharp/v17/.suo
